
@{
    ViewData["Title"] = "MyBooks";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All Users</title>
</head>
<body>
    <div>
        <h3>All Books</h3>
        <table>
            <tr>
                <td><p>Title</p></td>
                <td><p>Author</p></td>
                <td><p>Price</p></td>
                <td><p>Quantity</p></td>
                <td><p>Description</p></td>
                <td><p>Image</p></td>
                <td><p>Edit</p></td>
                <td><p>Delete</p></td>

            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr>
                    <td><p>@b.Title</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p>@b.Availability</p></td>
                    <td><p>@b.Description</p></td>
                    <td><p><img src=@b.ImageUrl width="100" height="150"></p></td>

                </tr>
            }
        </table>
    </div>

</body>
</html>

