@model IEnumerable<BookStore.Data.Models.Book>
@{
    ViewData["Title"] = "AllBooks";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All Users</title>
</head>
<body>
    <div>
        <h3>All Books</h3>
        <ul>
            <li>><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Title)</a></li>
            <li><a asp-action="Index" asp-route-sortOrder="@ViewData["AuthorSortParm"]">@Html.DisplayNameFor(model => model.Author)</a></li>
            <li><a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">@Html.DisplayNameFor(model => model.Price)</a></li>
        </ul>
        <table>
            <tr>
                <td><p>Title</p></td>
                <td><p>Author</p></td>
                <td><p>Price</p></td>
                <td><p>Quantity</p></td>
                <td><p>Description</p></td>
                <td><p>Image</p></td>

            </tr>
            @foreach (var b in Model)
            {
                <tr>
                    <td><p>@b.Title</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p>@b.Availability</p></td>
                    <td><p>@b.Description</p></td>
                    <td><p><img src=@b.ImageUrl width="100" height="150"></p></td>

                </tr>
            }
        </table>
    </div>

</body>
</html>

